# Ignore __pycache__ directories
__pycache__/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore Secrets directory
Secrets/

# Ignore filings directories
*filings/

# Ignore CSV files, except company_tickers.csv
*.csv
!*company_tickers.csv

# Ignore examples, but allow .ipynb files
/examples/*
!/examples/*.ipynb

# Ignore .venv and .env files
*.venv
*.env

# Allow all files in \datamule\datamule\data
!/datamule/datamule/data/**

# Ignore data directories, except the specific one we want to allow
*data/
!/datamule/datamule/data/

datamule/examples/*
!datamule/examples/*.ipynb
!datamule/examples/static/*